<header>
  <nav>
    <a href="/" class="logo">
      <img
        src="https://cdn.grueneeule.de/img/v2/GE-Symbol-Round_Orange_on_Green.png"
        alt="GrüneEule Logo"
        class="logo-schriftzug"
      />
      <span
        class="logo-text"
        style="
          margin-left: 8px;
          font-weight: bold;
          font-size: 18px;
          vertical-align: middle;
        "
        >ToolLab</span
      >
    </a>
    <ul class="nav-links">
      <li><a href="/index.html#projects">Tools</a></li>
      <li><a href="https://grueneeule.de">GrüneEule</a></li>
      <li><a href="https://grueneeule.de/l/github">GitHub</a></li>
      <li>
        <a
          href="https://grueneeule.de/l/dc"
          target="_blank"
          rel="noopener noreferrer"
          >Discord Server</a
        >
      </li>
    </ul>
  </nav>
</header>
